{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="card bg-transparent text-light" style="max-width: 80%;">
        <div class="row g-0">
            {% if object.profile_pic %}
                <div class="col-sm-4">
                    <img src="{{ object.profile_pic.url }}" class="img-fluid rounded" alt="cover photo">
                </div>
            {% else %}
                <div class="col-sm-4">
                    <img src="{% static 'images/no-profile-pic.png' %}" class="img-fluid rounded" alt="cover photo">
                </div>
            {% endif %}
            <div class="col-md-8 mt-3 p-4">
                <div class="card-body">
                    <h1 class="card-title">{{ object.user.username }}</h1>
                    {% if object.first_name and object.last_name %}
                        <p class="card-text fs-3">
                            Name: {{ object.first_name }} {{ object.last_name }}</p>
                    {% endif %}
                    {#                    <p class="card-text fs-5">Properties listed: {{ }}</p>#}
                    <p class="card-text fs-5">Account created on: {{ object.user.date_joined }}</p>
                    <a href="{% url 'edit profile' pk=object.pk %}"
                       class="btn btn-secondary">Edit Profile</a>
                    <a href="{% url 'delete profile' pk=object.pk %}"
                       class="btn btn-secondary">Delete Profile</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

